<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Settings</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <% if @msg %>
          <li class="error-message"><%= @msg %></li>
      <% end %>

      <li>
        <div class="itemLabel">
          <span class="title">Client ID:</span>
        </div>
        <div class="itemValue">
          <span class="clientID"><%= Rhom::Rhom::client_id %></span>
        </div>
      </li>
      <% if SyncEngine::logged_in > 0 %>
          <li><a href="<%= url_for :action => :logout %>">Logout</a></li>
      <% else %>
          <li><a href="<%= url_for :action => :login %>">Login</a></li>
      <% end %>
    </ul>
  </div>
  
<a href="<%= url_for :controller => :Settings, :action => :do_sync %>">doSync</a><hr>
<a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync %>">doBulkSync</a><hr><br>

<a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_product %>">BulkSync_Product</a><hr>
<a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_none %>">BulkSync_None</a><hr>
<a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_both %>">BulkSync_bothModels</a><hr><br>

 <a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_1 %>">BulkSync_sourceNegative</a><hr>
 <a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_2 %>">BulkSync_TypeNegative</a><hr>
 <a href="<%= url_for :controller => :Settings, :action => :do_bulk_sync_3 %>">BulkSync_ModelNegative</a><hr><br>
 

<a href="<%= url_for :controller => :Settings, :action => :do_reset_full %>">FullReset</a><hr><br>
<a href="<%= url_for :controller => :Settings, :action => :doDBReset %>">ResetDB</a><hr>

<a href="Product">Product</a><hr>
<a href="Customer">Customer</a><hr><br><br>
</div>
