<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @batterymodule.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @batterymodule.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="batterymodule[BatteryModel]" class="fieldLabel">Batterymodel</label>
            <input type="text" id="batterymodule[BatteryModel]" name="batterymodule[BatteryModel]" <%= placeholder("Batterymodel") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
