<script type="text/javascript">

    function doAction(val) {
        var url = "/app/System/" + val + "?rho_callback=1"
        if (window.XMLHttpRequest) {
            var xhr = new window.XMLHttpRequest();
            xhr.open("GET", url, true);
            xhr.send(null);
        } else {
            var xmlHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
            xmlHttpReq.open("GET", url, true);
            xmlHttpReq.send();
        }
    }

    function onIntentReceived( intent ) {
        var o = ""
        
        for (var p in intent) {
            o += p + ":" + intent[p] + "\n";
        }
    
        alert( "Intent:\n" + o );
        
        if ( intent[uri].length > 0 ) {
            Rho.System.openUrl( intent[uri] );
        }
    }

</script>

<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
	<div data-role="header" data-position="inline">
		<h1>TestApp</h1>
		<div data-role="content">
			<ul data-role="listview">
				<li>platform : <%=System.platform %> </li>
				<li>deviceName : <%=System.deviceName %> </li>
				<li>osVersion : <%=System.osVersion %> </li>

				<li>isEmulator : <%=System.isEmulator %> </li>
				<li>isRhoSimulator : <%=System.isRhoSimulator %> </li>
				<li>isMotorolaDevice : <%= System.isMotorolaDevice %></li>
			</ul>
		</div>
		
	</div>

</div>
<div id="ruby_getStartParams">
  <button onclick ="doAction('getStartParameters')">Ruby: Get start params: </button>
</div>
<div id="js_getStartParams">
	<button onclick ='alert(JSON.stringify(Rho.System.getStartParams()));'>Javascript: Get start params</button>
</div>

<div id="ruby_getApplicationMessage">
  <button onclick ="doAction('getApplicationMessage')">Ruby: Get Application Message: </button>
</div>
<div id="js_getApplicationMessage">
	<button onclick ='alert(JSON.stringify(Rho.System.getApplicationMessage()));'>Javascript: Get Application Message</button>
</div>
<div id="js_startListenIntents">
    <button onclick ="Rho.Intent.startListening(onIntentReceived);">Javascript: Start listen intents</button>
</div>
<div id="js_stopListenIntents">
    <button onclick ="Rho.Intent.stopListening();">Javascript: Stop listen intents</button>
</div>