<script type="text/javascript">
function sysGetStartParams()
{
	data = Rho.System.getStartParams();
	$("#sysGetStartParams span.result").text(JSON.stringify(data));
}
</script>

<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">
	<div data-role="header" data-position="inline">
		<h1>TestApp</h1>
		<div data-role="content">
			<ul data-role="listview">
				<li>platform : <%=System.platform %> </li>
				<li>deviceName : <%=System.deviceName %> </li>
				<li>osVersion : <%=System.osVersion %> </li>

				<li>isEmulator : <%=System.isEmulator %> </li>
				<li>isRhoSimulator : <%=System.isRhoSimulator %> </li>
				<li>isMotorolaDevice : <%= System.isMotorolaDevice %></li>
				<li>getStartParams : <%=System.getStartParams() %> </li>
			</ul>
		</div>
		
	</div>

</div>
<div class="method_tests">
	<div class="method_name">Rho.System.getStartParams</div>
	<div class="method_desc">Retrieve the start params.</div>
	<div class="test_scenario">
		<div id="sysGetStartParams">
			<a href="javascript:void(0)" onclick ="sysGetStartParams()">Get start params :  </a> <span class="result"> </span>
		</div>
	</div>
	<div class="test_scenario">
		<div id="getStartParams">Default:<span class="defaultset"> </span>
			<script type="text/javascript"> 
				$("#getStartParams span.defaultset").text(JSON.stringify(Rho.System.getStartParams()));
			</script>
		</div>
	</div>
</div>