<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @barcoderecognize.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @barcoderecognize.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="barcoderecognize[testid]" class="fieldLabel">Testid</label>
            <input type="text" id="barcoderecognize[testid]" name="barcoderecognize[testid]" <%= placeholder("Testid") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="barcoderecognize[name]" class="fieldLabel">Name</label>
            <input type="text" id="barcoderecognize[name]" name="barcoderecognize[name]" <%= placeholder("Name") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="barcoderecognize[expected]" class="fieldLabel">Expected</label>
            <input type="text" id="barcoderecognize[expected]" name="barcoderecognize[expected]" <%= placeholder("Expected") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="barcoderecognize[output]" class="fieldLabel">Output</label>
            <input type="text" id="barcoderecognize[output]" name="barcoderecognize[output]" <%= placeholder("Output") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="barcoderecognize[result]" class="fieldLabel">Result</label>
            <input type="text" id="barcoderecognize[result]" name="barcoderecognize[result]" <%= placeholder("Result") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
