<div data-role="page" data-add-back-btn="false">

  <div data-role="header" data-position="inline">
    <h1><%= @barcoderecognize.testid %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="arrow-l" data-direction="reverse">
      Back
    </a>
    <a href="<%= url_for :action => :edit, :id => @barcoderecognize.object %>" class="ui-btn-right" data-icon="star">
      Edit
    </a>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      
          <li>
            <div class="itemLabel">Testid</div>
            <div class="itemValue"><%= @barcoderecognize.testid %></div>
          </li>
      
          <li>
            <div class="itemLabel">Name</div>
            <div class="itemValue"><%= @barcoderecognize.name %></div>
          </li>
      
          <li>
            <div class="itemLabel">Expected</div>
            <div class="itemValue"><%= @barcoderecognize.expected %></div>
          </li>
      
          <li>
            <div class="itemLabel">Output</div>
            <div class="itemValue"><%= @barcoderecognize.output %></div>
          </li>
      
          <li>
            <div class="itemLabel">Result</div>
            <div class="itemValue"><%= @barcoderecognize.result %></div>
          </li>
      
    </ul>
  </div>

</div>
