<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @cameraimage.serial_no %></h1>
    <a href="<%= url_for :action => :show, :id => @cameraimage.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @cameraimage.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @cameraimage.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="cameraimage[serial_no]" class="fieldLabel">Serial no</label>
            <input type="text" id="cameraimage[serial_no]" name="cameraimage[serial_no]" value="<%= @cameraimage.serial_no %>" <%= placeholder( "Serial no" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
