<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Image Page ORIG</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
   <br>
<%= link_to '[open page with image]', { :action => :pageimage }%> 
   <br>
<%= link_to '[open added page]', { :action => :pageadded }%> 
   <br>
<%= link_to '[open removed page]', { :action => :pageremoved }%> 
   <br>
<%= link_to '[show popup]', { :action => :show_popup }%> 
   <br>
<a href="LiveUpdate/auto_html.html"> Open new File</a>
   <br>
<a href="LiveUpdate/del_auto_html.html">Open deleted page</a>
   <br>
<a href="Newmodel">Click on this link after new model is created</a>
   <br>
<a href=""LiveUpdate/scssEx.html"">Click on this to see changes madi in scss file</a>
   <br>
  </div>

</div>

