<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<script type="text/javascript" src="/public/jquery/jquery-1.6.4.min.js"></script>
<script type="text/javascript">

function funminimize(){
  $.get('/app/NetworkModule/FunMinimize', {});
   return false;  
}

function applynetworkEvent() {
  document.getElementById("myResult").innerHTML="";
  var networkEvent=document.getElementById("networkEvent").value;
  $.get('/app/NetworkModule/applynetworkEvent', { networkEvent:  networkEvent});
  return false;
}

function setHost() {
  var hostText=document.getElementById("hostText").value;
  $.get('/app/NetworkModule/setHost', { hostText:  hostText});
  return false;
}


function setPort() {
  var portText=document.getElementById("portText").value;
  $.get('/app/NetworkModule/setPort', { portText:  portText});
  return false;
}

function setnetworkPollInterval() {
  var networkPollIntervalText=document.getElementById("networkPollIntervalText").value;
  $.get('/app/NetworkModule/setnetworkPollInterval', { networkPollIntervalText:  networkPollIntervalText});
  return false;
}


function setconnectionTimeout() {
  var connectionTimeoutText=document.getElementById("connectionTimeoutText").value;
  $.get('/app/NetworkModule/setconnectionTimeout', { connectionTimeoutText:  connectionTimeoutText});
  return false;
}



function startPoll()
{
  $.get('/app/NetworkModule/startPoll', { });
  return false;  
}

function stopPoll()
{
  document.getElementById("myResult").innerHTML="";
  $.get('/app/NetworkModule/stopPoll', { });
  return false;  
}

function applywanEvent() {
  document.getElementById("myResult").innerHTML="";
  var wanEvent=document.getElementById("wanEvent").value;
  $.get('/app/NetworkModule/applywanEvent', { wanEvent:  wanEvent});
  return false;
}

function setconnectionDestination() {
  var wanDestinationText=document.getElementById("wanDestinationText").value;
  $.get('/app/NetworkModule/setconnectionDestination', { wanDestinationText:  wanDestinationText});
  return false;
}

function disconnectWanNetwork()
{
  $.get('/app/NetworkModule/disconnectWanNetwork', { });
  return false;  
}

function setFieldValue(returnval) 
{
  document.getElementById("myResult").innerHTML=returnval;
}

</script>
</head>

<body>
<p>Network Test</p>
<br /><br /><br /><br /><br /><br />
<div id="myResult">Event info</div> 
    <form name="myfrm" action="">
           <label for="networkEvent">NetworkEvent:</label>
            <select name="networkEvent" id="networkEvent">
                <OPTION SELECTED VALUE="">Select</OPTION>
                  <option value="JAVASCRIPT">ATTACHEVENT</option>
                  <option value="DETACHEVENT">DETACHEVENT</option>
                  <option value="HTML">HTML</option>
            </select> &nbsp;&nbsp;&nbsp;&nbsp;
  <INPUT type="button" value="ApplyEvent" name="ApplyEvent" onClick="applynetworkEvent();">
<br />
  
  <label for="hostText" class="fieldLabel">Host:</label>
  <input type="text" name="hostText" id="hostText" value="192.168.6.18" class="itemValue" <%= placeholder("Host:") %> />       
   <INPUT type="button" value="set Host" name="set Host" onClick="setHost();">
  <br />
  

  <label for="portText" class="fieldLabel">Port:</label>
  <input type="text" name="portText" id="portText" value="80" class="itemValue" <%= placeholder("Port:") %> />       
  <INPUT type="button" value="set Port" name="set Port" onClick="setPort();">
    <br />
  
  
  <label for="networkPollIntervalText" class="fieldLabel">networkPollInterval:</label>
  <input type="text" name="networkPollIntervalText" id="networkPollIntervalText" value="60000" class="itemValue" <%= placeholder("networkPollInterval:") %> />       
  <INPUT type="button" value="setInterval" name="setInterval" onClick="setnetworkPollInterval();">
  <br />
  
  <label for="connectionTimeoutText" class="fieldLabel">connectionTimeout:</label>
  <input type="text" name="connectionTimeoutText" id="connectionTimeoutText" value="60000" class="itemValue" <%= placeholder("connectionTimeout:") %> />       
   <INPUT type="button" value="setInterval" name="setTimeout" onClick="setconnectionTimeout();">
    <br />
  
  <INPUT type="button" value="Start Poll" name="Start Poll" onClick="startPoll();">
  &nbsp  &nbsp  &nbsp
  <INPUT type="button" value="Stop Poll" name="Stop Poll" onClick="stopPoll();">
<hr/>    


      <label for="wanEvent">WANEvent:</label>
              <select name="wanEvent" id="wanEvent">
                  <OPTION SELECTED VALUE="">Select</OPTION>
                  <option value="JAVASCRIPT">ATTACHEVENT</option>
                  <option value="DETACHEVENT">DETACHEVENT</option>
                  <option value="HTML">HTML</option>
              </select>
    <INPUT type="button" value="ApplyEvent" name="ApplyEvent" onClick="applywanEvent();">
   <br /> <br />
    
    <label for="wanDestinationText" class="fieldLabel">wanDestination:</label>
    <input type="text" name="wanDestinationText" id="wanDestinationText" value="Unselected" class="itemValue" <%= placeholder("wanDestination:") %> />       
      <INPUT type="button" value="Connect WAN" name="Connect WAN" onClick="setconnectionDestination();">
      <br /> <br />

      <INPUT type="button" value="Disconnect WAN" name="Disconnect WAN" onClick="disconnectWanNetwork();">
      <br>
      <INPUT type="button" value="minimizeApp" name="minimizeApp" onClick="funminimize();"> 
      <br/>
</form>
</body>
</html>