<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Image Page ORIG</h1>
    <a href="<%= Rho::RhoConfig.start_path %>" class="ui-btn-left" data-icon="home" data-direction="reverse"
       <%= "data-ajax='false'" if is_bb6 %>>Home</a>
      
  </div>

  <div data-role="content">
      See System Test: call replaceCurrentBundle with partial update<br>
      <br>
      Check before partial update :<br>
      - open image page - image should be "original"<br>
      - try to open "added page" - error should be displayed<br>
      - open "removed page" - page should be opened<br>
          <br>
      Check after partial update :<br>
      - open image page - image should be "updated" (May need to call refresh after 10 sec on Android and iOS)<br>
      - open "added page" - page should be opened<br>
      - try to open "removed page" - error should be displayed<br>

      <br>
<%= link_to '[open page with image]', { :action => :pageimage }%> 
   <br>
<%= link_to '[open added page]', { :action => :pageadded }%> 
   <br>
<%= link_to '[open removed page]', { :action => :pageremoved }%> 
   <br>
  </div>

</div>

