<script type="text/javascript">
    function test() {
        alert("Javascript alert");
    }

    function test_prompt() {
        prompt("Javascript prompt", "default value");
    }
    
    function getPage(url,execute)
    {
        if (window.XMLHttpRequest)
        {
	        xmlhttp=new XMLHttpRequest();

	        xmlhttp.open("GET",url,false);
	        xmlhttp.send(null);
	        if (xmlhttp.responseText != null)
	        {
		        if(execute) { return eval('(' + xmlhttp.responseText + ')'); }
	        }
        }else
        {
            var xmlHttpReq;
        	try {
            	xmlHttpReq = new ActiveXObject("Msxml2.XMLHTTP");
        	} catch (err) {
            	alert("Can't make the call using Msxml2.XMLHTTP");
            	try {
                	xmlHttpReq = new ActiveXObject("Microsoft.XMLHTTP");
				} catch (err2) {
            		alert("Can't make the call - xmlHttpReq is not available");
            		return;
            	}
        	}
        
       		xmlHttpReq.open("GET", url, true);
       		xmlHttpReq.send();
        }
        return -1;
    }

    function test_ajax() {
        return getPage('/app/SystemTest/show_alert',false);
    }
    
    function show_cookie() {
            alert(document.cookie);
    }

</script>

<div class="toolbar">
	<h1 id="pageTitle">
		System test
	</h1>
</div>
<br/>
<ul>
  <li>platform : <%=System.platform %> </li>
  <li>hasCamera : <%=System.hasCamera %> </li>
  <li>screenWidth : <%=System.screenWidth %> </li>
  <li>screenHeight : <%=System.screenHeight %> </li>
  <li>realScreenWidth : <%=System.realScreenWidth %> </li>
  <li>realScreenHeight : <%=System.realScreenHeight %> </li>
  <li>screenOrientation : <%=System.screenOrientation %> </li>
  <li>ppiX : <%=System.ppiX %> </li>
  <li>ppiY : <%=System.ppiY %> </li>

  <% if System.platform == 'ANDROID' %>
      <li>deviceOwnerName : <%=System.deviceOwnerName %> </li>
      <li>deviceOwnerEmail : <%=System.deviceOwnerEmail %> </li>
  <% end %>

  <li>devicePushId : <%=System.devicePushId %> </li>
  <li>phoneId : <%=System.phoneId %> </li>
  <li>deviceName : <%=System.deviceName %> </li>
  <li>osVersion : <%=System.osVersion %> </li>

  <li>locale : <%=System.locale %> </li>

  <li>country: <%=System.country %> </li>
  <li>isEmulator : <%=System.isEmulator %> </li>
  <li>isRhoSimulator : <%=System.isRhoSimulator %> </li>
  <li>hasCalendar : <%=System.hasCalendar %> </li>
  <li>isSymbolDevice : <%= System.isSymbolDevice %></li>

  <li>oemInfo : <%=System.getProperty('oemInfo') %> </li>
  <li>uuid : <%=System.getProperty('uuid') %> </li>

  <% if System.platform == 'APPLE' %>
      <%= link_to 'set application icon badge to [5]', url_for(:action => :set_badge_5) %> <br/>
      <%= link_to 'remove application icon badge', url_for(:action => :set_badge_0) %> <br/>
  <% end %>

  <li>httpProxyURI : <%=System.httpProxyURI %> </li>

  <% if System.platform == 'WINDOWS' %>
      <li>lockWindowSize : <%=System.lockWindowSize %> </li>
      <li>keyboardState : <%=System.keyboardState %> </li>
  <% end %>

  <li>localServerPort : <%=System.localServerPort %> </li>
  <li>freeServerPort : <%=System.freeServerPort %> </li>

  <% if System.platform == 'APPLE' || System.platform == 'Android' %>
      <li>screenAutoRotate : <%=System.screenAutoRotate %> </li>
  <% end %>

  <li>hasTouchscreen : <%=System.hasTouchscreen %> </li>

  <li>webviewFramework : <%=System.webviewFramework %> </li>

  <% if $sleeping %>
      <li><%= link_to 'Disable sleep', url_for(:action => :disable_sleep) %> </li>
  <%else%>
      <li><%= link_to 'Enable sleep', url_for(:action => :disable_sleep) %> </li>
  <%end%>

  <li><%= link_to 'Install test app', url_for(:action => :install_test_app) %> </li>
  <li><%= link_to 'Is Test app installed?', url_for(:action => :is_test_app_installed) %> </li>
  <li><%= link_to 'Uninstall Test application', url_for(:action => :uninstall_test_app) %> </li>
  <li>getStartParams : <%=System.getStartParams() %> </li>
  <li><%= link_to 'Exit application', url_for(:action => :app_exit) %> </li>
</ul>