<div data-role="page">

  <div data-role="header" data-position="inline">
    <%= link_to "Back", :action => :show, :id => @hyperlinks.object %>
    <h1>Edit <%= @hyperlinks.testcaseid%></h1>
    <%= link_to "Delete", :action => :delete, :id => @hyperlinks.object %>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @hyperlinks.object %>"/>
      <table>
          
          <tr>
              <td class="itemLabel">Testcaseid: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[testcaseid]" value="<%= @hyperlinks.testcaseid %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Description: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[description]" value="<%= @hyperlinks.description %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res1: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res1]" value="<%= @hyperlinks.res1 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res2: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res2]" value="<%= @hyperlinks.res2 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res3: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res3]" value="<%= @hyperlinks.res3 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res4: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res4]" value="<%= @hyperlinks.res4 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res5: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res5]" value="<%= @hyperlinks.res5 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res6: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res6]" value="<%= @hyperlinks.res6 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res7: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res7]" value="<%= @hyperlinks.res7 %>"/></td>
          </tr>
          
          <tr>
              <td class="itemLabel">Res8: </td>
              <td class="itemValue"><input type="text" name="hyperlinks[res8]" value="<%= @hyperlinks.res8 %>"/></td>
          </tr>
          
      </table>
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
